

body {
  margin: 0;
  padding: 0;
  font-family: Noto Sans CJK JP;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

a {
  text-decoration: none;
  display: block;
}



.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0) !important;
}
